DATABASE_URL=postgres://app_user:...@host/db
DATABASE_ADMIN_URL=postgres://app_admin:...@host/db
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_RESEND_KEY=
AUTH_EMAIL_FROM=no-reply@atrium.local
AUTH_TRUST_HOST=true
